body {
  background-color: #282c34;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  text-align: center;
}

.login-logo {
  height: 15vmin;
  pointer-events: none;
}

.login-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin-top: 200px;
}

.game-header {
  background-color: aqua;
}

.game-header img {
  width: 50px;
}

.game-header span {
  margin: 0 5%;
}

.question {
  color: lightseagreen;
  font-size: 110%;
  margin: 10% 30%;
}

.question-options {
  display: flex;
  flex-direction: column;
}

.question-options button {
  font-size: 150%;
  height: 35px;
  margin: 5px 0;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}
