:root {

  --bg: conic-gradient(from 180deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #9b5de5);

  --purple: #9b5de5;

  --pink: #f15bb5;

  --yellow: #fee440;

  --blue: #00bbf9;

  --cyan: #00f5d4;

  --shadow: 1px 1px 5px var(--purple) , 0 0 25px var(--cyan) , 0 0 5px var(--yellow);

}

body {
  background-image: var(--bg);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login {
  text-align: center;
}

.login a {
  color: azure;
  font-size: 25px;
  text-decoration: none;
}

.login-header {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  margin-top: 100px;
  text-shadow: var(--shadow);
}

.login-logo {
  pointer-events: none;
  width: 60%;
}

input {
  background-color: #ced2df90;
  border: 2px dotted var(--blue);
  color: #da1010;
  font-size: 20px;
  height: 30px;
  width: 250px;
}

input::placeholder {
  color: var(--purple);
  font-size: 20px;
}

.button-login {
  appearance: none;
  background-color: grey;
  border-radius: 40em;
  border-style: none;
  box-shadow: var(--yellow) 0 -2px 6px inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.15s;
  user-select: none;
  width: 150px;
}

.button-login:enabled {
  background-color: var(--purple);
  color: whitesmoke;
}

.button-login:active {
  transform: scale(1.025);
}

.button-login:enabled:hover {
  background-color: #ffc229;
  box-shadow: var(--cyan) 0 -6px 8px inset;
  transform: scale(1.125);
}

.game-header {
  background-color: aqua;
}

.game-header img {
  width: 50px;
}

.game-header span {
  margin: 0 5%;
}

.container {
  display: flex;
  flex-direction: column;
}

.question {
  color: lightseagreen;
  font-size: 110%;
  margin: 10% 30%;
}

.question-options {
  display: flex;
  flex-direction: column;
}

.question-options button {
  font-size: 150%;
  height: 35px;
  margin: 5px 0;
}

.question-right {
  border: 3px solid rgb(6, 240, 15);
}

.question-wrong {
  border: 3px solid red;
}

.next {
  align-self: center;
  height: 50px;
  width: 40%;
}

.timer {
  color: azure;
  font-size: 30px;
  text-align: center;
}

.results {
  color: azure;
  font-size: 200%;
  margin: 10% 30%;
}

.ranking {
  color: azure;
  font-size: 150%;
  margin: 10%;
}

.player {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 50%;
}

.play-again {
  color: blue;
  margin: 20%;
  text-decoration: none;
}

.button-feedback {
  color: azure;
}

@media screen and ( min-width : 1000px ) {

  .login-logo {
    width: 600px;
  }
}
