:root {

  --bg: conic-gradient(from 180deg, #9b5de5, #f15bb5, #fee440, #00bbf9, #00f5d4, #9b5de5);

  --purple: #9b5de5;

  --pink: #f15bb5;

  --yellow: #fee440;

  --blue: #00bbf9;

  --cyan: #00f5d4;

  --shadow: 1px 1px 5px var(--purple) , 0 0 25px var(--cyan) , 0 0 5px var(--yellow);

  --box1: var(--purple) 0 0 0 3px;

  --box2: var(--pink) 0 0 0 6px;

  --box3: var(--yellow) 0 0 0 9px;

  --box4: var(--blue) 0 0 0 12px;

  --box5: var(--cyan) 0 0 0 15px;

  --box-answer: var(--box1) , var(--box2) , var(--box3) , var(--box4) , var(--box5);
}

body {
  background-image: var(--bg);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.login {
  text-align: center;
}

.login a {
  color: azure;
  font-size: 25px;
  text-decoration: none;
}

.login-header {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  margin-top: 100px;
  text-shadow: var(--shadow);
}

.login-logo {
  pointer-events: none;
  width: 60%;
}

input {
  background-color: #ced2df90;
  border: 2px dotted var(--blue);
  color: #da1010;
  font-size: 20px;
  height: 30px;
  width: 250px;
}

input::placeholder {
  color: var(--purple);
  font-size: 20px;
}

.button-login {
  appearance: none;
  background-color: grey;
  border-radius: 40em;
  border-style: none;
  box-shadow: var(--yellow) 0 -2px 6px inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.15s;
  user-select: none;
  width: 200px;
}

.button-login:enabled {
  background-color: var(--purple);
  color: whitesmoke;
}

.button-login:active {
  transform: scale(1.025);
}

.button-login:enabled:hover {
  background-color: #ffc229;
  box-shadow: var(--cyan) 0 -6px 8px inset;
  transform: scale(1.125);
}

.game-header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.game-header img {
  border-radius: 10px;
  width: 80px;
}

.game-header span {
  color: whitesmoke;
  font-size: 18px;
  margin: 0 2%;
  text-shadow: var(--shadow);
}

.container {
  display: flex;
  flex-direction: column;
}

.question {
  color: whitesmoke;
  font-size: 100%;
  margin: 2% 10% 5%;
  text-shadow: var(--shadow);
}

.question-options {
  display: flex;
  flex-direction: column;
}

.question-options button {
  border-radius: 20px;
  border-style: none;
  box-shadow: var(--box-answer);
  font-size: 150%;
  padding: 5px 10px;
  text-shadow: var(--shadow);
  transition: all 500ms;
}

.question-options button:enabled {
  background-color: var(--blue);
  color: var(--yellow);
  margin: 20px 0;
}

.question-options button:disabled {
  border-style: solid;
  box-shadow: none;
}

.question-options button:enabled:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.question-right {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
  color: whitesmoke;
  margin: 10px 0;
}

.question-wrong {
  background-color: red;
  border: 3px solid red;
  color: black;
  margin: 10px 0;
}

.next {
  align-self: center;
}

.timer-container {
  border-radius: 10px;
  box-shadow: var(--yellow) 0 1px 4px , var(--yellow) 0 0 0 3px;
  margin: 5% 10%;
  padding: 2%;
}

.timer {
  color: whitesmoke;
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-shadow: var(--shadow);
}

.results {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 220%;
  margin: 10% auto;
  text-shadow: var(--shadow);
  width: 80vw;
}

.ranking {
  align-items: center;
  color: azure;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  text-shadow: var(--shadow);
}

.ranking p {
  font-size: 200%;
  text-align: center;
}

.player-container {
  height: 65vh;
  overflow: auto;
}

.player {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 300px;
}

.play-again {
  margin-bottom: 10%;
}

.button-feedback {
  color: whitesmoke;
  text-decoration: none;
}

.button-feedback:hover {
  color: var(--yellow);
}

@media screen and ( min-width : 1000px ) {

  .login-logo {
    width: 600px;
  }

  .game-header span {
    font-size: 25px;
  }

  .question {
    margin: 5% auto;
    width: 800px;
  }

  .timer-container {
    margin: 2% auto;
    width: 800px;
  }

  .results {
    width: 800px;
  }

  .player {
    width: 500px;
  }
}
